<table>
  <th>
    <%= for x <- header() do %>
      <td><%=x%></td>
    <% end %>
  </th>

  <%= for row <- table() do %>
    <tr>
    <%= for col <- row do %>
      <td><%=col%></td>
    <% end %>
    </tr>
  <% end %>
</table>