<table>
  <%= for x <- header() do %>
    <th><%=x%></th>
  <% end %>

  <%= for row <- table() do %>
    <tr>
    <%= for col <- row do %>
      <td><%=col%></td>
    <% end %>
    </tr>
  <% end %>
</table>

<script>
  setTimeout(function(){
    window.location.reload(1);
  }, 1000);
</script>
