<p>
  <a href="http://localhost:4000/api/find-jobs-in-radius?latitude=1&longitude=1&radius=10000">http://localhost:4000/api/find-jobs-in-radius?latitude=1&longitude=1&radius=10000</a>
</p>


<table>
  <%= for x <- header() do %>
    <th><%=x%></th>
  <% end %>

  <%= for row <- table() do %>
    <tr>
    <%= for col <- row do %>
      <td><%=col%></td>
    <% end %>
    </tr>
  <% end %>
</table>

<script>
  setTimeout(function(){
    window.location.reload(1);
  }, 1000);
</script>
